
.card-value-description {
  font-family: 'Julius Sans One';
  font-size: 0.6rem !important;
  letter-spacing: 0.2rem;
  line-height: 0.5rem;
}


/* Media queries */
@media only screen and (max-width: 1250px) {
  .about-me-arrow-div {
    left: 72.5% !important;
    top: 22.5% !important;
  }
}

@media only screen and (max-width: 950px) {
  #about-me-card {
    font-size: 0.75rem !important;
  }
}

@media only screen and (max-width: 600px) {
  #about-me-card {
    font-size: 0.65rem !important;
  }
}

@media only screen and (max-width: 400px) {
  .about-me-arrow-div {
    top: 22.5% !important;
  }
}