.card {
  position: absolute;
  transform: rotate(-8deg);
  height: 60%;
  width: 65%;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: absolute;
  top: 22.5%;
  left: 17.5%;
  /* -webkit-box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.75); */
}

.card__side {
  height: 100%;
  transition: all 0.8s ease;
  /* transition-delay: 0.1s; */
  color: white;
  font-size: 2rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  /* box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); */
}

.card__side--back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(180deg);
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.5) 0%
    /* ,rgba(137, 90, 243, 0.2) 56% rgba(57, 43, 89, 0.2) 100% */
  );
}

.card__side--front {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}

.card__heading {
  line-height: 2.2rem;
  font-family: Julius Sans One;
  font-size: 1.15rem;
  letter-spacing: 0.25rem;
  font-weight: 300;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 0.5rem;
  right: 0rem;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(183, 169, 217, 1) 54%,
    rgba(137, 90, 243, 1) 100%
  );
}

.card__details {
  padding: 3rem;
}

.card__cta {
  font-family: 'Great Vibes';
  font-size: 3rem;
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.card__data {
  transform: rotate(10deg);
  left: 45%;
  font-size: 1.05rem;
  overflow: hidden;
  font-family: 'Allan';
  color: rgba(255, 255, 255, 0.8);
  width: 50%;
  position: absolute;
  bottom: 35%;
  line-height: 1.75rem;
  letter-spacing: 0.05rem;
  left: 70%;
  transform: translate(-50%, 50%);
  text-align: center;
}

/* @media only screen and (min-width: 1100px) {
  .card__data {
    width: 80%;
  }
} */

.card__data > .card__qoute {
  margin-top: 0.5rem;
  color: #00c2cb;
}

.card-value {
  font-weight: 100;
  transform: rotate(8deg);
}
