/* fonts  */
/* Julius Sans One */
@font-face {
  font-family: 'Julius Sans One';
  src: url('typography/JuliusSansOne-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* Great Vibes */
@font-face {
  font-family: 'Great Vibes';
  src: url('typography/GreatVibes-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

/* Allan Bold Italic */
@font-face {
  font-family: 'Allan';
  src: url('typography/Allan-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

/* reset css */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  box-sizing: border-box;
  background-color: black;
  width: 100%;
}

/* workaround for video resolution in small sized devices */
@media only screen and (max-width: 1100px) {
  video {
    object-fit: fill !important;
  }
}
video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

/* add background-blend to card image */
.card__side > div::before {
  background-blend-mode: hue;
  opacity: 0.75;
}

/* Card hover text reveal */
.MuiCardContent-root:hover p {
  opacity: 1;
  transition: opacity 1s ease;
}
