.footer-copyright {
  pointer-events: none;
  position: absolute !important;
}

/* Media queries */

@media only screen and (max-width: 1200px) {
  .footer-copyright {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .footer-styled-icons-div {
    width: 40% !important;
  }
}

@media only screen and (min-width: 1000px) {
  .footer-styled-icons-div {
    width: 20% !important;
  }
}

@media only screen and (max-width: 600px) {
  .footer-styled-div {
    clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%) !important;
  }
  .footer-styled-icons-div {
    top: 82.5% !important;
  }
}