.footer-copyright {
  pointer-events: none;
  position: absolute !important;
  left: 0;
}

/* Media queries */

@media only screen and (max-width: 1200px) {
  .footer-copyright {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .footer-styled-icons-div {
    left: 35% !important;
  }
}

@media only screen and (max-width: 800px) {
  .footer-styled-icons-div {
    left: 30% !important;
  }
}

@media only screen and (max-width: 600px) {
  .footer-styled-icons-div {
    top: 82.5% !important;
  }
  .footer-styled-div {
    clip-path: polygon(0 70%, 100% 70%, 100% 100%, 0% 100%) !important;
  }
}

@media only screen and (max-width: 475px) {
  .footer-styled-icons-div {
    left: 25% !important;
  }
}

@media only screen and (max-width: 400px) {
  .footer-styled-icons-div {
    left: 20% !important;
  }
}