.project-image-2 {
  top: 20% !important;
}

/* Media queries */

@media only screen and (max-width: 1300px) {
  .project-image-2 {
    top: 15% !important;
  }
}

@media only screen and (max-width: 1100px) {
  .project-image-2 {
    font-size: 1.15rem !important;
  }
  .project-description {
    font-size: 1.15rem !important;
  }
}

@media only screen and (max-width: 1000px) {
  .project-description {
    top: 9% !important;
    line-height: 2.5rem !important;
  }
  .project-image-2 {
    top: 9% !important;
    line-height: 2.5rem !important;
  }
}

@media only screen and (max-width: 950px) {
  .project-icons {
    left: 33% !important;
  }
  .project-description {
    top: 7% !important;
    line-height: 2.15rem !important;
  }
  .project-image-1 {
    font-size: 1.5rem !important;
    left: 35% !important;
  }
  .project-image-2 {
    top: 7% !important;
    line-height: 2.5rem !important;
  }

}

@media only screen and (max-width: 800px) {
  .project-image-2 {
    line-height: 2rem !important;
  }
  .project-description {
    line-height: 2rem !important;
  }
}

@media only screen and (max-width: 700px) {
  .project-image-2 {
    font-size: 1rem !important;
  }
  .project-description {
    font-size: 1rem !important;
  }
  .project-desktop-only-links {
    pointer-events: none !important;
  }
}

@media only screen and (max-width: 650px) {
  .project-description {
    top: 5% !important;
  }
  .project-image-2 {
    top: 7.5% !important;
  }
}

@media only screen and (max-width: 600px) {
  .project-icons {
    left: 30% !important;
  }
  .project-image-1 {
    left: 27.5% !important;
  }
  .project-image-2 {
    line-height: 1.75rem !important;
    top: 5% !important;
  }
  .project-description {
    line-height: 1.65rem !important;
  }
}

@media only screen and (max-width: 525px) {
  .project-image-2 {
    font-size: 0.8rem !important;
    line-height: 1.65rem !important;
  }
  .project-description {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 475px) {
  .project-icons {
    left: 25% !important;
  }
  .project-image-2 {
    font-size: 0.7rem !important;
  }
  .project-description {
    font-size: 0.7rem !important;
    line-height: 1.5rem !important;
  }
}

@media only screen and (max-width: 400px) {
  .project-icons {
    left: 20% !important;
  }
  .project-image-2 {
    font-size: 0.6rem !important;
  }
  .project-description {
    font-size: 0.6rem !important;
  }
  .project-image-1 {
    font-size: 1rem !important;
  }
}