/* Primary palette */

/* Color Theme Swatches in Hex */
.New-PurpleMonoC-1-hex { color: #B7A9D9; }
.New-PurpleMonoC-2-hex { color: #895AF3; }
.New-PurpleMonoC-3-hex { color: #392B59; }
.New-PurpleMonoC-4-hex { color: #8C81A6; }
.New-PurpleMonoC-5-hex { color: #4C4659; }

/* Secondary palette */

/* Color Theme Swatches in Hex */
.SecondaryTriad-1-hex { color: #803966; }
.SecondaryTriad-2-hex { color: #EECC00; }
.SecondaryTriad-3-hex { color: #CC70AB; }
.SecondaryTriad-4-hex { color: #00C2CB; }
.SecondaryTriad-5-hex { color: #407C80; }

